<div class="app-container">
  <div class="palette">
    <app-palette></app-palette>
  </div>

  <div class="diagram-container">
    <div class="breadcrumb">
      <app-breadcrumb [workflow]="workflow" [(flow)]="flow"></app-breadcrumb>
    </div>
    <div class="diagram-inner-container">
      <div class="diagram">
        <app-diagram [(flow)]="flow" #diagram></app-diagram>
      </div>
      <div class="prop">
        <app-prop [node]="diagram.selectedNode"></app-prop>
      </div>
    </div>
  </div>
</div>
