.container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 8px;
  background-color: #E3E3E3;
  border-bottom: 1px solid #ddd;
  display: flex;
}

.crumb {
  cursor: pointer;
  margin-right: 5px;
  font-size: 10pt;
}