.diagram-symbol-palette .sb-child-row {
  margin-top: 8px;
}

.diagram-symbol-palette .row {
  margin-left: 0px;
  margin-right: 0px;
}

.diagram-symbol-palette .property-panel-table div {
  padding-left: 0px;
}

.diagram-symbol-palette .col-xs-6 {
  padding-left: 0px;
  padding-right: 0px;
}